@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;800;900&display=swap');
$primary: #4267B2;
$link: #898F9C;
$family-sans-serif: 'Maven Pro', sans-serif;
@import "~bulma/bulma.sass";

